<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script-->
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!-- index JS -->
    <script src="js/index.js"></script>
    <!-- index CSS -->
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
<div ng-app="cert">

    <div id="main" ng-controller="MainController as main">
        <h1>Certificates storage</h1>
        <div class="row">
            <!-- CERTIFICATES -->
            <div class="col-md-6">
                <h3>Certificates: {{ main.items.length }}</h3>
                <ul id="certificate-list" class="nav nav-pills nav-stacked">
                    <li ng-repeat="(key, value) in main.items">
                        <span class="btn btn-success btn-block btn-xs" ng-click="main.show(key, $event)">{{key}}</span>
                    </li>
                </ul>
            </div>

            <!-- DETAILS -->
            <div class="col-md-6">
                <div class="container" id="details">
                    <h3>Details</h3>
                    <table class="table table-hover" ng-show="main.showCurrentItem">
                        <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, value) in main.currentParsedItem">
                            <td>{{value.label}}</td>
                            <td>{{value.value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr/>

        <!-- TOOLS -->
        <a class="btn btn-success btn-lg btn-block" href="" ng-hide="showAdd"
           ng-click="showUpload = !showUpload; showAdd = !showAdd;">
            Add new certificate
        </a>

        <div id="file-upload" ng-show="showUpload" on-read-file="main.uploadEnd($cert)">
            <blockquote>
                <p>Drag and drop your .cer file here</p>
            </blockquote>
        </div>


    </div>
</div>

<script type="text/javascript" src="libs/asn/oids.js"></script>
<script type="text/javascript" src="libs/asn/int10.js"></script>
<script type="text/javascript" src="libs/asn/asn1.js"></script>
</body>
</html>